.header-area .main-header-area{
    background: rgba(0, 29, 56, 0.8);
}

.catagory_area {
    background: #F5F7FA;
}

.popular_catagory_area .single_catagory a h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.popular_catagory_area .single_catagory:hover h2 {
    color: #00D363;
    text-decoration: underline;
}

.job_listing_area .job_lists .single_jobs .jobs_left .thumb {
    overflow: hidden;
}

.job_listing_area .job_lists .single_jobs .jobs_left .thumb img{
    width: 100%;
}

.post-nav-img{
    background-color: #fff;
    opacity: 0.8;
}

.genric-btn.auth-link{
    color: #415094;
    background: none;
    text-decoration: underline;
    border: 1px solid transparent;
    padding-left: 0;
}

/* line 257, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
.genric-btn.custom {
    color: #fff;
    background: #001D38;
    border: 1px solid transparent;
    opacity: 0.8;
}

/* line 261, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
.genric-btn.custom:hover {
    color: #001D38;
    border: 1px solid #001D38;
    background: #fff;
}

/* line 267, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
.genric-btn.custom-border {
    color: #001D38;
    border: 1px solid #001D38;
    background: #fff;
}

/* line 271, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
.genric-btn.custom-border:hover {
    color: #fff;
    background: #001D38;
    border: 1px solid transparent;
}

.single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid rgb(0, 29, 56, 0.3);
    box-shadow: 2px 2px 3px rgb(0, 29, 56, 0.3);
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

p.danger{
    color: #f44a40;
    font-size: 0.8em;
    font-weight: 500;
}

a.user-name{
    padding: 0 15px;
}

.border-danger{
    border: 1px solid rgb(244, 74, 64, 0.5) !important;
}


/* меню категорий */
.blog_right_sidebar .post_category_widget .cat-list li a p{
    font-size: 18px;
    color: #888888;
}

.blog_right_sidebar .post_category_widget .cat-list-second {
    margin-left: 15px;
}

.blog_right_sidebar .post_category_widget .cat-list-second li {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 10px;
    transition: all 0.3s ease 0s;
}

.blog_right_sidebar .post_category_widget .cat-list-second li + li {
    padding-top: 10px;
}

.blog_right_sidebar .post_category_widget .cat-list-second li a p{
    font-size: 0.9rem;
    line-height: 18px;
    color: #555555;
    font-weight: bolder;
}

.blog_right_sidebar .post_category_widget .cat-list-second li ul li a p {
    font-size: 0.9rem;
    line-height: 18px;
    color: #888888;
}

.blog_right_sidebar .post_category_widget .cat-list a.active p,
.blog_right_sidebar .post_category_widget .cat-list-second a.active p {
    color: rgba(0, 29, 56, 1) !important;
}

/* ----------- breadcrumbs -----------*/
.breadcrumb {
    background-color: #F5F7FA;
    padding: 0.5rem 1rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: small;
    content: "\f105";
    padding-left: 0.8rem;
}


i.fa-door-closed,
i.fa-door-open {
    font-family: "Font Awesome 5 Free";
    color: white !important;
    margin-left: 10px;
    font-style: normal;
    font-weight: 700;
}

.header-area .main-header-area .main-menu ul li a i:hover {
    color: #00D363 !important;
}
/* comments -------------------------------------------------------- */

.reply-btn .deleteForm button,
.reply-btn .approveForm button {
    border: none;
    cursor: pointer;
}

.d-flex.hide,
.hide {
    display: none !important;
}

.single-comment p.not-approved-text {
    margin: 0 15px;
    font-size: 14px;
}

/* admin --------------------------------------*/

/* ---- posts ---------------------------------*/

.job_listing_area .job_lists .single_jobs .jobs_right .apply_now button.heart_mark {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    color: #00D363;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background: #EFFDF5;
    margin-left: 15px;
    border-width: 0px;
}

.job_listing_area .job_lists .single_jobs .jobs_right .apply_now button.heart_mark:hover {
    background: #00D363;
    color: #fff;
}

i.fa-xmark {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-style: normal;
    font-size: large;
}

i.fa-xmark:before {
    content: "\f00d";
}

.job_details_area .apply_job_form {
    margin-top: 0;
    padding: 40px;
}

.not-published {
    background-color: rgb(0, 29, 56, 0.3);
}

.not-published p{
    color: black !important;
}

/* ------- categories -------------------------------------------*/

.job_listing_area .admin_categories .job_lists .single_jobs {
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.job_listing_area .admin_categories .job_lists .single_jobs .jobs_right .apply_now a.boxed-btn3 {
    padding: 4px 27px 4px 27px;
    font-size: 14px;
}

.job_listing_area .admin_categories .job_lists .single_jobs .jobs_left {
    margin-left: 10px;
}

.job_listing_area .admin_categories .job_lists .single_jobs .jobs_right .apply_now button.heart_mark {
    width: 31px;
    height: 31px;
    line-height: 31px;
    margin-left: 15px;
}

.job_listing_area .admin_categories .job_lists .single_jobs .jobs_right .apply_now a.heart_mark:hover {
    background: #00D363;
    color: #fff;
}

.job_listing_area .admin_categories .job_lists .single_jobs .jobs_left .jobs_conetent h3,
.job_listing_area .admin_categories .job_lists .single_jobs .jobs_left .jobs_conetent h4,
.job_listing_area .admin_categories .job_lists .single_jobs .jobs_left .jobs_conetent h5,
.job_listing_area .admin_categories .job_lists .single_jobs .jobs_left .jobs_conetent h6 {
    margin-bottom: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.job_listing_area .admin_categories .job_lists .single_jobs .jobs_left .jobs_conetent h3:hover,
.job_listing_area .admin_categories .job_lists .single_jobs .jobs_left .jobs_conetent h4:hover,
.job_listing_area .admin_categories .job_lists .single_jobs .jobs_left .jobs_conetent h5:hover,
.job_listing_area .admin_categories .job_lists .single_jobs .jobs_left .jobs_conetent h6:hover {
    color: #00D363;
}
